.footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1.5em;
    margin: 0px;

    min-width: fit-content;

    text-wrap: nowrap;
    text-align: center;

    transition: height 0.4s;
}

.footer-link:hover {
    cursor: pointer;
}

.footer-link-children {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    padding-top: 0.5em;

    opacity: 0;

    transition: opacity 0.3s;
}

.footer-link-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
}

.footer-link-title>h3 {
    font-size: 1.1em;
}

.hovered {
    color: var(--action-color);
}

.footer-link-children>span {
    font-size: 0.8em;
}