#header {
    height: 8em;

    display: flex;
    align-items: center;
}

.marquee {
    white-space: nowrap;
    margin-right: 0.5em;

    font-size: 7em;
    font-weight: bold;
    letter-spacing: 0.08em;
    color: var(--accent-color);
    text-align: center;

    cursor: default;
}