#container {
    background-color: var(--bg-color);
    color: var(--content-color);
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

#body-container {
    margin: 4vw 10vw;
    width: 80vw;
    min-height: 60vh;
}