.profile-item {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 1.1em 2em;
    margin: 0.5em 0px;

    border: 2px solid var(--border-color);
    border-radius: 2em;
    text-wrap: nowrap;

    background-color: var(--fg-color);

    overflow: hidden;

    transition: background-color 0.5s, color 0.2s, border 0.5s, height 0.5s;
}

.profile-item:hover {
    border: 0.5em solid var(--border-color);
    cursor: pointer;
}

a:hover {
    color: var(--accent-color);
}

.profile-item-children {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    padding-top: 0.5em;

    opacity: 0;

    transition: opacity 0.3s;
}

.profile-item-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
}

.profile-item-title>h3 {
    font-size: 1em;
    transition: color 0.2s;
}

.hovered {
    color: var(--action-color);
}