.profile-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5em;

    width: 100%;

    padding: 1.1em 2em;
    margin: 0.5em 0px;

    border: 1px solid var(--border-color);
    border-radius: 2em;
    background-color: var(--fg-color);
    text-wrap: nowrap;

    overflow: hidden;

    transition: background-color 0.5s, color 0.5s, border 0.5s, height 0.5s;
}

.profile-item:hover {
    border: 0.4em solid var(--border-color);
    cursor: pointer;
}

a:hover {
    color: var(--accent-color);
}

.profile-item-children {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    justify-content: space-between;
    opacity: 0;

    transition: opacity 0.5s;
}

.profile-item-title {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;

    color: var(--content-color);
}

.profile-item-title>*:nth-child(2) {
    margin-left: 0.3em;
}