.project {
    display: flex;
    flex-direction: column;
    flex-grow: 0.2;
    justify-content: start;

    width: 13em;
    min-width: 13em;
    padding: 0.8em;
    margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
    .project {
        flex-grow: 1;
    }
}

.project-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image>img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
}

.project-image>div {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fg-color);
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.project-title {
    margin: 0.6em 0px 0px 0px;
    cursor: pointer;
}

.project-tags {
    margin-top: 0.3em;
}