.project {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 13em;
}

.project-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.project-info {
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.project-title {
    margin: 0.6em 0px 0px 0px;
    cursor: pointer;
}

.project-tags {
    margin: 0.5em;
}