.home-category {
    flex-grow: 1;

    min-width: 15em;
    min-height: 30vh;

    margin: 0px;
    margin-top: calc(2em + 2%);
    padding-right: 2em;
}

.main {
    width: 100%;
    margin-bottom: 1.4em;
}

.home-category-category {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;

    border-bottom: 1.5px solid var(--accent-color);
    margin-bottom: 0.8em;
    padding: 0.2em 0.3em;

    cursor: pointer;
}

.home-category-category:hover {
    border-bottom: 1.5px solid var(--action-color);
}

.home-category-category>h2 {
    color: var(--accent-color);
}

.arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    aspect-ratio: 1/1;
    color: var(--accent-color);
}

.posts {
    display: flex;
    flex-flow: column wrap;
}

.posts-wrapper {
    overflow: scroll;
}

.main .posts {
    flex-direction: row;
    align-items: start;
}