.profile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.1em 2em;
    margin: 0.5em 0px;

    min-width: fit-content;
    width: 10%;

    border: 2px solid var(--border-color);
    border-radius: 2em;
    text-wrap: nowrap;
    text-align: center;

    background-color: var(--fg-color);

    overflow: hidden;

    transition: background-color 0.5s, color 0.4s, border 0.4s, width 0.4s, height 0.4s;
}

.profile-item:hover {
    border: 2px solid var(--action-color);
    cursor: pointer;
    width: 20%;
}

a:hover {
    color: var(--accent-color);
}

.profile-item-children {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    padding-top: 0.5em;

    opacity: 0;

    transition: opacity 0.3s;
}

.profile-item-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
}

.profile-item-title>h3 {
    font-size: 1.1em;
}

.hovered {
    color: var(--action-color);
}