.project {
    width: 10em;
    margin-right: 2em;
}

.project-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-title {
    padding: 0.5em 0px;
    margin: 0px;
    cursor: pointer;
}