.home-category {
    width: 33%;
    min-height: 30vh;
    padding-right: 4%;
    margin: 4em 0px;
}

.main {
    width: 100%;
}

.home-category-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;

    border-bottom: 1.5px solid var(--accent-color);
    margin-bottom: 1.6em;

    cursor: pointer;
}

h2 {
    color: var(--accent-color);
}

.arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    aspect-ratio: 1/1;
}

.arrow {
    color: var(--accent-color);
}

.posts {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.posts-wrapper {
    overflow: scroll;

}

.main .posts {
    width: fit-content;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}