.home-post {
    margin: 0.5em;
    margin-left: 0.2em;
}

.home-post-title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

h3 {
    color: var(--content-color);
    text-wrap: nowrap;
}

.vertical-bar {
    color: var(--content-color);
    margin-right: 0.4em;
}