.image-skeleton {
    width: 80%;
    aspect-ratio: 16/9;

    background: linear-gradient(90deg, var(--bg-color) 25%, var(--fg-color) 50%, var(--bg-color) 75%);
    background-size: 200%;
    animation: loading 1.5s infinite;
    border-radius: 1em;
}

.loaded {
    width: fit-content;
    height: fit-content;
    aspect-ratio: unset;
    animation: none;
}

.img-wrapper {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}

@keyframes loading {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: -200%;
    }
}