.project {
    display: flex;
    flex-direction: column;
    flex-grow: 0.2;
    justify-content: start;

    width: 13em;
    min-width: 13em;
    margin: 0.8em;

    border: 1px solid var(--border-color);
    border-radius: 1em;
    background-color: var(--faded-bg-color);

    overflow: hidden;

    transition: flex-grow 0.2s, width 0.2s, margin 0.2s;
}

.project:hover {
    width: 13.6em;
    flex-grow: 0.22;
    margin: 0.8em 0.5em;
}

@media screen and (max-width: 768px) {
    .project {
        flex-grow: 1;
    }

    .project:hover {
        flex-grow: 1;
    }
}

.project-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    overflow: hidden;
}

.project-image>img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
}

.project-image>div {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fg-color);
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    padding: 0.8em;
}

.project-info>small {
    margin: 0.3em 0px 0.2em 0px;
}

.project-title {
    margin: 0.6em 0px 0px 0px;
}

.project.fix-width:hover {
    width: 13em;
    flex-grow: 0.2;
    margin: 0.8em;
}