.search-box {
    position: absolute;
    z-index: 2;

    right: calc(5em + 5vw);
    width: 18vw;
    min-width: 6em;
    height: 2.2em;
    padding: 0 0.5em;

    display: flex;
    align-items: center;
    gap: 0.5em;

    outline: 1px solid var(--border-color);
    border-radius: 2em;
    background-color: var(--fg-color);
}

.search-box:focus-within {
    min-width: calc(8em + 8vw);
}

input {
    width: 85%;

    font-size: calc(medium - 2px);
    color: var(--content-color);

    border: none;
    background-color: transparent;
}

input:focus {
    outline: none;
}

.search-icon {
    color: var(--icon-color);
}