.tag {
    padding: 0.2em 0.4em;
    margin: 5px;
    display: inline-block;
    cursor: pointer;

    border-radius: 0.7em;
    color: var(--content-color);
    box-shadow: 0 0 0 1px var(--border-color);
    background-color: var(--fg-color);
}