.tag {
    padding: 0.2em 0.5em;
    margin: 5px;

    display: inline-block;
    cursor: pointer;

    border-radius: 0.7em;
    box-shadow: 0 0 0 1px var(--border-color);
    background-color: var(--fg-color);
    transition: box-shadow 0.2s, padding 0.2s;
}

.tag:hover {
    box-shadow: 0 0 0 2px var(--action-color);
    padding: 0.3em 0.6em;
}

.tag a {
    color: var(--content-color);
    font-size: 0.8em;
}

.tag:hover a {
    color: var(--action-color);
}