* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--content-color);
    /* border: 1px solid #f00; */
}

:root {
    --light-bg-color: #f8f8fc;
    --light-hover-bg-color: #f0f0f0;
    --light-fg-color: #fdfdfd;
    --light-accent-color: #39f;
    --light-action-color: #f0f;
    --light-content-color: #121212;
    --light-minor-color: #888;
    --light-icon-color: #39f;
    --light-border-color: #39f;

    --dark-bg-color: #121212;
    --dark-hover-bg-color: #212121;
    --dark-fg-color: #212121;
    --dark-accent-color: #00f;
    --dark-action-color: #f0f;
    --dark-content-color: #f0f0f0;
    --dark-minor-color: #888;
    --dark-icon-color: #dadada;
    --dark-border-color: #323232;

    --bg-color: var(--light-bg-color);
    --hover-bg-color: var(--light-hover-bg-color);
    --fg-color: var(--light-fg-color);
    --accent-color: var(--light-accent-color);
    --action-color: var(--light-action-color);
    --content-color: var(--light-content-color);
    --minor-color: var(--light-minor-color);
    --icon-color: var(--light-icon-color);
    --border-color: var(--light-border-color);
}

[data-theme="dark"] {
    --bg-color: var(--dark-bg-color);
    --hover-bg-color: var(--dark-hover-bg-color);
    --fg-color: var(--dark-fg-color);
    --accent-color: var(--dark-accent-color);
    --action-color: var(--dark-action-color);
    --content-color: var(--dark-content-color);
    --minor-color: var(--dark-minor-color);
    --icon-color: var(--dark-icon-color);
    --border-color: var(--dark-border-color);
}

[data-theme="light"] {
    --bg-color: var(--light-bg-color);
    --hover-bg-color: var(--light-hover-bg-color);
    --fg-color: var(--light-fg-color);
    --accent-color: var(--light-accent-color);
    --action-color: var(--light-action-color);
    --content-color: var(--light-content-color);
    --minor-color: var(--light-minor-color);
    --icon-color: var(--light-icon-color);
    --border-color: var(--light-border-color);
}


a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--action-color);
}

small {
    color: var(--minor-color);
}

.link {
    color: var(--content-color);
    cursor: pointer;
}

.link:hover,
.link:hover * {
    color: var(--action-color);
    background-color: var(--hover-bg-color);
}

.link:hover .tag {
    color: var(--content-color);
}

.link:hover .tag:hover,
.tag:hover {
    color: var(--action-color);
}

.minor {
    color: var(--minor-color);
}